.wholeNav {
  text-align: center;
}

img {
  width: 40%;
  position: absolute;
  justify-content: center;
  top: 10px;
}

.dropdown-menu {
  width: 100%;
}

.centerNav{
  justify-items: center;
}

.navContainer {
  min-width: 100%;
}

p {
  visibility: collapse;
}

@media (min-width: 989px){
  img {
    width: 570px;
    position: static;
  }

  p {
    visibility: visible;
  }
}
